body {
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#board {
    background-image: url("./background.png");
    background-size: cover;
}

canvas {
    display: block;
    width: 100vw;
    height: 90vh;
    margin: 0 auto;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.click{
    height: 10vh;
    width: 100vw;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;

}
.shop, .leaderboard {
    flex: 1;
    text-align: center;
}
.game {
    flex: 1;
    text-align: center;
    font-size: 12px
}
.click a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
@media (max-width: 767px) {
    .click {
        width: 100%;
    }
}


@media (min-width: 768px) {
    .click {
        max-width: 1200px;
    }
}
