body {
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#board {
    background-image: url("./background.png");
    background-size: cover;
}

canvas {
    height: 90%;
    display: flex;
    margin: 0 auto;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.click{
    height: 10%;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;

}
.click a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
@media (max-width: 767px) {
    .click {
        width: 100%;
    }
}


@media (min-width: 768px) {
    .click {
        max-width: 1200px;
    }
}
