* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    user-select: none;
    text-align: center;
    background-color: #000000;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#board {
    background-image: url("./background.png");
    background-size: cover;
}

canvas {
    height: 80%;
    display: block;
    margin: 0 auto;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.highscore {
    position: fixed;
    display: flex;
    padding-top: 5%
}
.username{
    position: fixed;
    display: flex;
    padding-top: 0%;
    padding-right: 15%;
}
.score{
    height: 10%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}
.click{
    height: 10%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;

}
.shop, .leaderboard {
    flex: 1;
    text-align: center;
}
.game {
    flex: 1;
    text-align: center;
    font-size: 12px
}
.click a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
@media (max-width: 767px) {
    .click {
        width: 100%;
    }
}


@media (min-width: 768px) {
    .click {
        max-width: 1200px;
    }
}
