body {
    text-align: center;
}

body, html {
    overflow: hidden;
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#board {
    background-image: url("./background.png");
    background-size: cover;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.click{
    height: 10%;
    background-color: #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
}