* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text1{
    color: white;
    background-color: #000000;
}
.text2{
    background-color: black;
    height: 5%;
    width: 100%;
}
body, html {
    overflow: hidden;
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    user-select: none;
    text-align: center;
    width: 100%;
}

.leaderboard {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    text-align: left;
    height: 85%;
}

.player {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-size: 16px;
}

.rank {
    color: #ff6f00;
    margin-right: 10px;
    width: 40px;
}

.username {
    flex: 1;
    color: #ffffff;
}

.score {
    color: #ffffff;
    font-size: 16px;
    width: 60px;
}

.click {
    height: 10%;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    gap: 20px;
}
.click > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.shop, .leaderboard1, .Home{
    flex: 1;
    text-align: center;
}
.click a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
@media (max-width: 767px) {
    .click {
        width: 100%;
    }
}


@media (min-width: 768px) {
    .click {
        max-width: 1200px;
    }
}
